.cartItem {
  background-color: #f8f8f8;
  border-radius: 3px;
  display: flex;
  max-width: 100%;
}

.mobile {
  display: none;
}

.cancelButtonMobile {
  display: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.cancelButtonMobile:hover {
  opacity: 0.7;
}

.cancelButton {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.cancelButton:hover {
  opacity: 0.7;
}

.cartItem a {
  justify-content: center;
}

.cartItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartItemInfoTop {
  display: flex;
  flex-direction: column;
}

.cartItemCategory {
  color: #919191;

  font-weight: 500;
  font-size: 14px;
  line-height: 16.18px;
  letter-spacing: 0%;
  vertical-align: middle;

  margin-bottom: 8px;
}

.cartItemTitle {
  color: #525252;

  font-weight: 400;
  font-size: 22px;
  line-height: 17.51px;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-decoration: none;
}

.cartItemInfoCenter {
  display: flex;
  flex-direction: row;
  gap: 38px;
}

.cartItemImageLink {
  width: 136.243896484375px;
  height: 168px;
}

.cartItemInfoWrapper {
  display: flex;
  width: 100%;
  padding: 24px;
  justify-content: space-between;
}

.cartItemInfoCenterLeft {
  display: flex;
  flex-direction: column;
}

.cartItemInfoCenterLeftLabel {
  color: #a7a7a7;

  font-weight: 400;
  font-size: 14px;
  line-height: 16.18px;
  letter-spacing: 0%;
  vertical-align: middle;

  margin-bottom: 8px;
}

.cartItemInfoCenterLeftText {
  font-weight: 500;
  font-size: 16px;
  line-height: 16.18px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #525252;
}

.cartItemPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cancelButton {
  padding: 8px;
  background-color: #ebebeb;
  border-radius: 3px;
}

.cancelButton img {
  width: 24px;
  height: 24px;
}

.cartItemPriceText {
  color: #525252;

  font-weight: 500;
  font-size: 24px;
  line-height: 32.79px;
  letter-spacing: 0px;
  text-wrap: nowrap;
}

.quantityControls {
  display: flex;
  align-items: center;
  width: 105px;
  height: 43px;

  gap: 28px;
  background-color: #0000000d;
  border-radius: 3px;
  padding: 14px 12px 14px 12px;
  width: fit-content;
}

.quantityButton {
  background: none;
  border: none;
  font-size: 24px;
  width: 12px;
  color: #979797;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.quantityValue {
  font-weight: 600;
  font-size: 14px;
  line-height: 28.28px;
  letter-spacing: 0px;

  color: #262626;
  text-align: center;
}

@media (max-width: 1280px) {
  .cartItemPriceText {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .cartItemInfoCenterLeftLabel,
  .cartItemInfoCenterLeftText {
    font-size: 14px;
  }

  .cartItemTitle {
    font-size: 20px;
  }

  .quantityControls {
    display: flex;
    justify-content: space-between;
    gap: 0;
    width: 105px;
  }
}

@media (max-width: 600px) {
  .cartItemImageLink {
    display: none;
  }

  .cartItemInfoWrapper {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mobileHeader {
    display: flex;
    border-bottom: 1px solid #dfdbd3;
  }

  .mobileLink {
    width: 140px;
    height: 173px;
  }

  .mobileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mobileContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
  }

  .mobileCategory {
    color: #919191;

    font-weight: 500;
    font-size: 14px;
    line-height: 16.18px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .mobileTitle {
    color: #525252;
    font-weight: 500;
    font-size: 20px;
    line-height: 27.51px;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .mobileInfoWrapper {
    display: flex;
    flex-direction: row;
    gap: 38px;
  }

  .mobileInfo {
    display: flex;
    flex-direction: column;
  }

  .mobileContentTop {
    display: flex;
    flex-direction: column;
  }

  .mobileInfoLabel {
    color: #a7a7a7;

    font-weight: 400;
    font-size: 14px;
    line-height: 16.18px;
    letter-spacing: 0%;
    vertical-align: middle;

    margin-bottom: 4px;
  }

  .mobileInfoText {
    color: #525252;

    font-weight: 500;
    font-size: 14px;
    line-height: 16.18px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .mobilePriceWrapper {
    display: flex;
    align-items: center;
    padding: 24px;
  }

  .mobilePriceText {
    color: #525252;

    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: right;

    margin-right: 62px;
  }
}
