.container {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;

  border-radius: 3px;
  padding: 30px;

  gap: 5px;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.passwordPanel {
  border-radius: 3px;
  padding: 30px;

  background-color: #f8f8f8;
}

.panel + .panel {
  margin-top: 15px;
}

.sectionHeading {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #525252;
}

.sectionDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  max-width: 640px;
  color: #525252;
  text-wrap: nowrap;
}

.subsectionHeading {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #525252;
}

.infoPanel {
  margin-top: 12px;
  border-radius: 16px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.fieldsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 94px;
}

.fieldRow {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.fieldLabel {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  color: #525252;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 495px;
  max-width: 636px;
  height: 53px;
  border-radius: 3px;
  border: 0.6px solid #525252;
  background: #ffffff;
  padding: 0px 14px 0px 14px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #525252c2;
}

.input::placeholder {
  color: #525252c2;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.input:focus {
  outline: none;
  border-color: #0a5840;
}

.actions {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.primaryButton {
  background-color: #525252;
  color: #f2f0ec;
  width: 224px;
  height: 53px;
  border-radius: 3px;
  padding-top: 8px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;

  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.primaryButton:disabled {
  background-color: #525252ad;

  opacity: 0.5;
  cursor: not-allowed;
}

.secondaryButton {
  background-color: transparent;
  color: #525252;
  border: 1px solid #525252;
  width: 113px;
  height: 53px;
  border-radius: 3px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;

  cursor: pointer;
}

.passwordForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
  border-radius: 16px;
  background-color: #f8f8f8;
}

.passwordField {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.passwordLabel {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  color: #525252;
}

.passwordInputWrapper {
  position: relative;
}

.passwordInput {
  width: 495px;
  height: 53px;
  border-radius: 3px;
  border: 0.6px solid #525252;
  background: #ffffff;
  padding: 0 46px 0 18px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #525252c2;
}

.passwordInput::placeholder {
  color: #525252c2;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.passwordInput:focus {
  outline: none;
  border-color: #0a5840;
}

.togglePassword {
  position: absolute;
  left: 461px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.passwordMessage {
  font-size: 13px;
  margin: 0;
}

.passwordMessageSuccess {
  color: #0a5840;
}

.passwordMessageError {
  color: #c93c3c;
}
/* 
@media (max-width: 1440px) {
  .sectionHeading {
    font-size: 22px;
  }

  .sectionDescription {
    font-size: 12px;
  }

  .subsectionHeading {
    font-size: 16px;
  }

  .fieldLabel {
    font-size: 12px;
  }

  .input {
    font-size: 14px;
  }

  .input::placeholder {
    font-size: 14px;
  }

  .primaryButton {
    font-size: 12px;
  }

  .secondaryButton {
    font-size: 12px;
  }

  .passwordLabel {
    font-size: 12px;
  }

  .passwordInput {
    font-size: 14px;
  }

  .passwordInput::placeholder {
    font-size: 14px;
  }

  .passwordMessage {
    font-size: 11px;
  }
} */

@media (max-width: 1440px) {
  .input {
    width: 472px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 20px 16px;
  }

  .panel {
    margin-top: 5px;
  }

  .passwordPanel {
    padding: 20px 16px;
  }

  .sectionHeading {
    font-size: 19px;
    line-height: 28px;
  }

  .sectionDescription {
    font-size: 11px;
    line-height: 18px;
    text-wrap: wrap;
  }

  .subsectionHeading {
    font-size: 14px;
    line-height: 28px;
  }

  .infoPanel {
    gap: 12px;
    margin-top: 10px;
  }

  .fieldsGrid {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .fieldRow {
    gap: 4px;
  }

  .fieldLabel {
    font-size: 10.99px;
    line-height: 15.7px;
  }

  .passwordInput,
  .input {
    height: 34px;
    font-size: 12.56px;
    line-height: 18.83px;
    padding: 0px 12px;
    max-width: 100%;
  }

  .input::placeholder {
    font-size: 13px;
    line-height: 20px;
  }

  .actions {
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
  }

  .passwordForm {
    gap: 9px;
    margin-top: 10px;
  }

  .passwordField {
    gap: 4px;
  }

  .passwordLabel {
    font-size: 11px;
    line-height: 15.7px;
  }

  /* .passwordInput {
    font-size: 13px;
    line-height: 20px;
    height: 44px;
    padding: 0 40px 0 14px;
  } */

  .togglePassword {
    width: 14px;
    height: 14px;
  }

  .togglePasswordIcon {
    width: 14px;
    height: 14px;
  }

  .passwordInput::placeholder {
    font-size: 13px;
    line-height: 20px;
  }

  .passwordMessage {
    font-size: 10px;
  }

  .actions {
    flex-direction: row;
  }
}
