.footer {
  background-color: #0a5840;
  display: flex;
  flex-direction: column;
  padding: 49px 20px 27px 20px;
}

.upper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 34px;
  border-bottom: 0.75px solid #f2f0ec70;
}

.logo {
  width: 65px;
  height: 31px;
  margin-bottom: 38px;
}

.subText {
  color: #f2f0ec;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  margin-bottom: 20px;
  max-width: 403.5px;
}

.inputContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.input {
  color: #fff5d991;
  background-color: transparent;

  width: 277px;
  padding-top: 11.62px;
  padding-bottom: 12.37px;
  border: none;
  border-bottom: 1px solid #fff5d991;

  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input::placeholder {
  color: #fff5d991;
}

.input:focus {
  outline: none;
  border-color: #fff5d9;
}

.button {
  background-color: #f2f0ec;
  color: #525252;
  width: 160px;
  border-radius: 3px;

  padding-top: 11.25px;
  padding-right: 7.5px;
  padding-bottom: 11.25px;
  padding-left: 7.5px;
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.button:hover {
  background-color: transparent;
  color: #f2f0ec;
  border: 1px solid #f2f0ec;
}

.politics {
  color: #f2f0ecb8;

  max-width: 444px;
  font-weight: 300;
  font-size: 12px;
  line-height: 12.37px;
  letter-spacing: 0%;
}

.politicsLink {
  color: #f2f0ecb8;

  text-underline-offset: 2px;
  text-decoration-thickness: 0.88px;
  text-decoration-color: #f2f0ecb8;
  max-width: 444px;
  font-weight: 300;
  font-size: 12px;
  line-height: 12.37px;
  letter-spacing: 0%;
}

.upperRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rowColumns {
  display: flex;
  gap: 80px;
  margin-right: 196px;
}

.column {
  display: flex;
  flex-direction: column;
}

.columnTitle {
  color: #fff5d9;

  font-weight: 400;
  font-size: 16px;
  line-height: 15.21px;
  letter-spacing: 0px;
  margin-bottom: 15px;
}

.columnList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: visible;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.catalogColumns {
  display: flex;
  gap: 54px;
  overflow: visible;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.columnItem {
  color: #fff5d991;
  text-decoration: none;

  font-weight: 300;
  font-size: 14px;
  line-height: 13.65px;
  letter-spacing: 0px;
  transition: color 0.2s ease-in-out;
}

.columnLi {
  list-style: none;
}

.columnInst {
  color: #fff5d991;
  list-style: none;

  text-decoration-color: #fff5d991;
  text-decoration-thickness: 0.88px;
  text-underline-offset: 3.5px;

  font-weight: 300;
  font-size: 14px;
  line-height: 13.65px;
  letter-spacing: 0px;
  transition: color 0.2s ease-in-out;
}
.columnItem:hover,
.columnInst:hover {
  color: #fff5d9;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.link {
  color: #f2f0ecb8;
  list-style: none;
  text-decoration: none;

  font-weight: 300;
  font-size: 10px;
  line-height: 8px;
  letter-spacing: 0%;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #fff5d9;
}

.lower {
  display: flex;
  padding-top: 12px;
  justify-content: space-between;
}

.copyright {
  color: #f2f0ecb8;
  font-weight: 400;
  font-size: 10px;
  line-height: 117%;
  letter-spacing: 0%;
}

.copyrightInsta {
  color: #fff5d9b2;
  font-weight: 400;
  font-size: 10px;
  line-height: 117%;
  letter-spacing: 0%;

  max-width: 420px;
}

@media (min-width: 1025px) {
  .columnList,
  .catalogColumns {
    max-height: none !important;
    opacity: 1 !important;
  }
}

@media (max-width: 1280px) {
  .rowColumns {
    margin-right: 47px;
  }

  .copyrightInsta {
    max-width: 405px;
  }
}

.columnTitleButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: default;
  position: relative;
  z-index: 1;
}

.columnTitleButton h1,
.columnTitleButton span {
  pointer-events: none;
}

.columnToggle {
  display: none;
  color: #fff5d9;
  font-weight: 400;
  font-size: 14.31px;
  line-height: 10.36px;
  letter-spacing: 0px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 30px 10px;
  }

  .logo {
    width: 41.935482025146484px;
    height: 20px;

    margin-bottom: 15px;
  }

  .upper {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
  }

  .upperLeft {
    width: 100%;
  }

  .subText {
    font-size: 12px;
    line-height: 14px;
    max-width: 270px;
    margin-bottom: 7px;
  }

  .inputContainer {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 7px;
  }

  .politics {
    font-weight: 300;
    font-size: 10px;
    line-height: 11.04px;
    letter-spacing: 0%;
  }

  .politicsLink {
    font-weight: 300;
    font-size: 10px;
    line-height: 11.04px;
    letter-spacing: 0%;
  }

  .input {
    width: 100%;
    padding: 8px 0px;
  }

  .input::placeholder {
    color: #fff5d991;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .button {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .upperRight {
    width: 100%;
  }

  .rowColumns {
    flex-direction: column;
    gap: 0;
    margin-right: 0;
  }

  .column:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .columnTitleButton {
    display: flex;
    margin-bottom: 0;
    cursor: pointer;
    z-index: 10;
  }

  .columnItem {
    font-weight: 300;
    font-size: 11px;
    line-height: 13.65px;
  }

  .columnTitle {
    margin-bottom: 0;
    font-size: 14px;
  }

  .columnToggle {
    display: block;
  }

  .columnList {
    max-height: 10px;
    opacity: 0;
    margin-top: 0;
    gap: 0;
  }

  .columnListOpen {
    max-height: 500px;
    opacity: 1;

    gap: 2px;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .catalogColumns {
    max-height: 10px;
    opacity: 0;
  }

  .catalogColumnsOpen {
    max-height: 1000px;
    opacity: 1;
  }

  .links {
    margin-top: 15px;
    gap: 3px;
  }

  .link {
    color: #f2f0ecb8;
    font-weight: 500;
    font-size: 8.31px;
    line-height: 12.74px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .lower {
    flex-direction: row;
    gap: 10px;
    padding-top: 14px;
  }

  .copyright {
    color: #f2f0ecb2;
    font-weight: 400;
    font-size: 7.08px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .copyrightInsta {
    max-width: 125px;

    color: #f2f0ecb2;

    font-weight: 300;
    font-size: 6.19px;
    line-height: 117%;
    letter-spacing: 7%;
  }

  .columnInst {
    font-weight: 300;
    font-size: 11px;
    line-height: 13.65px;
    letter-spacing: 0px;

    text-decoration-thickness: 0.88px;
  }
}

@media (max-width: 768px) {
  .copyrightInsta {
    max-width: 125px;
  }
}

@media (max-width: 480px) {
  .copyrightInsta {
    max-width: 125px;
  }
}
